* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.AppContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 70px;
  position: relative;
}

.nav ul {
  list-style: none;
  display: flex;
  /* gap: 1rem; */
}

.searchBarContainer {
  display: flex;
  justify-content: center;

  margin: 7rem 0 6rem 0;
  gap: 10rem;
}

.headingWeatherContainer {
  display: flex;
  justify-content: center;


}

.searchBarContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.searchBarInput {
  height: 50px;
  width: 300px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}

.searchBarContainer button {
  margin-top: 10px;
}

.weatherDataContainer {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
}

.searchBarContainer {
  display: flex;
  justify-content: center;

  margin: 14rem 0 13rem 0;
  gap: 10rem;
}

.headingWeatherContainer {
  display: flex;
  justify-content: center;


}

.searchBarContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.searchBarContainer input {
  height: 50px;
  width: 300px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}

.searchBarContainer button {
  margin-top: 10px;
}

.weatherDataContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.weatherIdxContainer {
  order: 3;
  background-color: var(--foreground-color);
  border-style: solid;
}

.forecastContainer {
  justify-content: center;
  display: flex;
}

.forecastContainer form {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherIdxContainer h3 {
  padding-bottom: 50px;
}

.sunrise {
  display: flex;
  align-items: center;
}

#sunrisePic {
  width: 30px;
  margin-left: 10px;
}

.sunset {
  display: flex;
  align-items: center;
}

#sunsetPic {
  width: 30px;
  margin-left: 10px;
}

.moonrise {
  display: flex;
  align-items: center;
}

#moonrisePic {
  width: 30px;
  margin-left: 10px;
}

.moonset {
  display: flex;
  align-items: center;
}

#moonsetPic {
  width: 30px;
  margin-left: 10px;
}


.sun {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: rgb(255, 81, 0);
  position: absolute;
  box-shadow: 0 0 75px rgba(255, 141, 0, 1);
}

.astroSearch {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px
}

.formContainerAstro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  /* Take up the remaining vertical space */
  padding: 10px;
  /* Optional: Add padding if needed */
  box-sizing: border-box;
  position: relative;
}

p {
  text-align: center;
  /* Center text if needed */
  margin: 10px 0;
  /* Space above and below the <p> tag */
}

.astroCard {
  border-style: solid;
  padding-left: 20px;
  position: relative;
  background: lightgrey;
  width: 200px;
  border-radius: 25px;
  margin: auto;
}

.earth::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: url("src/assets/moon.png");
  background-size: cover;
  animation: moon-orbit 3.5s linear infinite
}

@keyframes earth-orbit {
  from {
    transform: rotate(0deg) translateX(220px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(220px) rotate(-360deg);
  }
}

@keyframes moon-orbit {
  from {
    transform: rotate(0deg) translateX(75px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(75px) rotate(-360deg);
  }
}

.headingContainer {
  display: flex;
  justify-content: center;
}