* {
  box-sizing: border-box;
}

.nav {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  /* gap: 1rem; */
}

.searchBarContainer {
  display: flex;
  justify-content: center;

  margin: 14rem 0 20rem 0;
  gap: 10rem;
}

.headingWeatherContainer {
  display: flex;
  justify-content: center;


}

.searchBarContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.searchBarContainer input {
  height: 50px;
  width: 300px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}

.searchBarContainer button {
  margin-top: 10px;
}

.weatherDataContainer {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;

}

.weatherIdxContainer {
  order: 3;
}