* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.AppContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  /* background-color: grey; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 70px;
  position: relative;
}

.nav ul {
  list-style: none;
  display: flex;
  /* gap: 1rem; */
}

.searchBarContainer {
  display: flex;
  justify-content: center;

  margin: 7rem 0 6rem 0;
  gap: 10rem;
}

.headingWeatherContainer {
  display: flex;
  justify-content: center;


}

.searchBarContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.searchBarInput {
  height: 50px;
  width: 300px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}

.searchBarContainer button {
  margin-top: 10px;
}

.weatherDataContainer {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
}

.searchBarContainer {
  display: flex;
  justify-content: center;

  margin: 14rem 0 13rem 0;
  gap: 10rem;
}

.headingWeatherContainer {
  display: flex;
  justify-content: center;


}

.searchBarContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.searchBarContainer input {
  height: 50px;
  width: 300px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}

.searchBarContainer button {
  margin-top: 10px;
}

.weatherDataContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.weatherIdxContainer {
  order: 3;
  background-color: var(--foreground-color);
  border-style: solid;
}

.forecastContainer {
  justify-content: center;
  display: flex;
}

.forecastContainer form {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}